<header id="home">
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1 class="animated fadeInDown" style="color: white;">Gerald's<br><span style="color: white;">Hotel Manage System</span></h1>
          <p class="animated fadeInUp delay-05s" style="color: white;">Find you a room and manage your order easily!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-center">
          <a href="/book?reload=yes" class="learn-more-btn">Book Your Room</a>
        </div>
        <div class="col-md-3 text-center">
          <a href="/manage" class="learn-more-btn">Manage Your Resevation</a>
        </div>
      </div>
    </div>
  </section>
</header>

<section class="dark-bg text-center section-padding contact-wrap" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Info</h1>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
          <p>Level 6, 23 Pitt St, Portugal</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
          <p>+61 9 211 3747</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
          <p><a href="#">support@geraldhotel.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Legals</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
