<script type="text/javascript">
  if (location.href.indexOf('reload') > 0) {
    window.location.replace(location.origin + location.pathname);
  }
  // serializeFormJSON
  (function ($) {
    $.fn.serializeFormJSON = function () {

        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
  })(jQuery);
</script>
<style>
  .swiper-container {
    width: 100%;
  }
  .swiper-container img {
    display: block;
    width: 100%;
  }
  .weui_label {
    font-size: 0.9em;
    color: #8f8f8f;
  }
  .hide {
    display: none;
  }
</style>

<div id="book-area">
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="./img/single.jpg" /></div>
      <div class="swiper-slide"><img src="./img/double.jpg" /></div>
      <div class="swiper-slide"><img src="./img/studio.jpg" /></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <form class="" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="weui_cells_title">Room Type</div>
    <div class="weui_cells weui_cells_radio">
      <label class="weui_cell weui_check_label" for="x11">
        <div class="weui_cell_bd weui_cell_primary">
          <p>Single Room</p>
        </div>
        <div class="weui_cell_ft">
          <input type="radio" class="weui_check" value="single" name="room_type" id="x11" checked="checked">
          <span class="weui_icon_checked"></span>
        </div>
      </label>

      <label class="weui_cell weui_check_label" for="x12">
        <div class="weui_cell_bd weui_cell_primary">
          <p>Double Room</p>
        </div>
        <div class="weui_cell_ft">
          <input type="radio" name="room_type" value="double" class="weui_check" id="x12">
          <span class="weui_icon_checked"></span>
        </div>
      </label>

      <label class="weui_cell weui_check_label" for="x13">
        <div class="weui_cell_bd weui_cell_primary">
          <p>Studio Room</p>
        </div>
        <div class="weui_cell_ft">
          <input type="radio" name="room_type" value="studio" class="weui_check" id="x13">
          <span class="weui_icon_checked"></span>
        </div>
      </label>
    </div>

    <div class="weui_cells_title">Duration</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label">Check-in at</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" name="checkin_date" type="month" value="">
        </div>
      </div>
      <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label">Leave at</label></div>
        <div class="weui_cell_bd weui_cell_primary">
          <input class="weui_input" name="leave_date" type="month" value="">
        </div>
      </div>
    </div>

    <div class="weui_cells_title">Floor</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell weui_cell_select weui_cell_warn">
        <div class="weui_cell_bd weui_cell_primary">
          <select class="weui_select" name="floor">
            <option selected="" value="0">Choose Floor</option>
            <option value="3">3F</option>
            <option value="4">4F</option>
            <option value="5">5F</option>
            <option value="6">6F</option>
            <option value="7">7F</option>
            <option value="8">8F</option>
            <option value="9">9F</option>
            <option value="10">10F</option>
            <option value="11">11F</option>
            <option value="12">12F</option>
          </select>
        </div>
      </div>
    </div>

    <div class="weui_cells_title">Further Requirements</div>
    <div class="weui_cells weui_cells_form">
      <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
          <textarea name="requirement" class="weui_textarea" placeholder="Please enter your further requirements" rows="5"></textarea>
          <!-- <div class="weui_textarea_counter"><span>0</span>/200</div> -->
        </div>
      </div>
    </div>

    <div class="weui-btn-area">
      <a href="javascript:;" class="weui_btn weui_btn_primary" id="submit">Submit</a>
      <a href="/manage" class="weui_btn weui_btn_default">Manage Your Orders</a>
    </div>
  </form>
</div>

<div id="confirm-area" class="hide">
  <div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
      <h2 class="weui_msg_title">Successfully Booked</h2>
      <p class="weui_msg_desc" id="book-result"></p>
    </div>
    <div class="weui_opr_area">
      <p class="weui_btn_area">
        <a href="/manage" class="weui_btn weui_btn_primary">Manage</a>
        <a href="/book" class="weui_btn weui_btn_default">Back</a>
      </p>
    </div>
  </div>
</div>

<script>
  $(".swiper-container").swiper({
    loop: true,
    // autoplay: 3000
  });

  function validate_pass(data) {
    var passed = false
    if (data.checkin_date == "") {
      var err = "Checkin date should not be empty"
      return {passed, err}
    } else if (data.checkin_date < Date.now()) {
      var err = "The ealiest checkin date is next month"
      return {passed, err}
    }
    if (data.leave_date == "") {
      var err = "Leave date should not be empty"
      return {passed, err}
    } else if (data.leave_date <= data.checkin_date) {
      var err = "Leave date should later than your checkin date"
      return {passed, err}
    }
    if (data.floor == "0") {
      var err = "Floor should not be empty"
      return {passed, err}
    }

    passed = true
    return {passed, err}
  }

  function tidy_date(data) {
    var d = data
    if (d.checkin_date !== "" && d.leave_date !== "") {
      var c = d.checkin_date.split('-')
      var l = d.leave_date.split('-')

      d.checkin_date = new Date(c[0], parseInt(c[1])-1)
      // leave date should be the last day of the month
      d.leave_date = new Date(l[0], parseInt(l[1]))
      d.leave_date.setDate(d.leave_date.getDate() - 1)
    }
    return d
  }

  $(function(){
    $('#submit').on('click', function(){
      var data = tidy_date($('form').serializeFormJSON());

      var validation = validate_pass(data);
      if (!validation.passed) {
        $.alert(validation.err, "Alert");
        return;
      }

      console.log(data);
      $.post('/check', data).error(function(err){
        console.log(err);
      }).done(function(res) {
        console.log(res);
        if (res.avaliable) {
          // hide and show
          $('#confirm-area').removeClass('hide');
          $('#book-area').addClass('hide');
          // results
          $('#book-result').html('Room: '+ data.room_type +'<br>\
                                  Floor: '+ data.floor +'F<br>\
                                  Checkin Date: '+ data.checkin_date.toLocaleDateString() +'<br>\
                                  Leave Date: '+ data.leave_date.toLocaleDateString() +'<br>\
                                  Requirement: '+ data.requirement +'<br>')
        } else {
          $.alert(res.msg, "Alert");
        }
      });
    });
  });

  document.body.setAttribute('ontouchstart', '');

  // iOS
  if (typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
      callback();
  } else {
      if (document.addEventListener) {
          document.addEventListener("WeixinJSBridgeReady", callback, false);
      } else if (document.attachEvent) {
          document.attachEvent("WeixinJSBridgeReady", callback);
          document.attachEvent("onWeixinJSBridgeReady", callback);
      }
  }

  function callback(){
    WeixinJSBridge.invoke('setPageTitle', {title: '测试测试测试'}, function(res){
      $.weui.alert(res.err_msg);
    });
  }
</script>
