<style>
  .swiper-container {
    width: 100%;
  }
  .swiper-container img {
    display: block;
    width: 100%;
  }
</style>

<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="./img/room1.jpg" /></div>
    <div class="swiper-slide"><img src="./img/room2.jpg" /></div>
    <div class="swiper-slide"><img src="./img/room3.jpg" /></div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>

<script>
  $(".swiper-container").swiper({
    loop: true,
    // autoplay: 3000
  });
</script>
